@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* modern theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Handjet';
	src: url('/fonts/Handjet.ttf');
	font-display: swap;
}

html, body {
	font-family: 'Quicksand', sans-serif;
}

.handjet {
	font-family: 'Handjet', sans-serif;
	line-height: 1
}